<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <h1> Friendos Minecraft Server </h1>
  <% if (locals.path && path === '/initMCServer') { %> 
    <form action="/stopMCServer" , method="POST">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" value="Stop Server">
    </form>
  <% } else { %> 
    <form action="/initMCServer" , method="POST">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" value="Start Server">
    </form>
  <% } %>
  <div>
    <% if (locals.body && body.state === 'running' && body.ipAddress) { %> 
      <h2>
        IP: <%- body.ipAddress %> | mcserver.nandahibatullah.dev
      </h2>
    <% } else if (locals.body && body.state === 'pending' && body.ipAddress) { %>
      <h2>
        Server is starting, this may take a few minutes...</br>
        IP: <%- body.ipAddress %> | mcserver.nandahibatullah.dev
      </h2>
    <% } else if (locals.body && body.state === 'stopping') { %>
      <h2>
        the server is stopping...
      </h2>
    <% } else if (locals.body && body.state === 'stopped') { %>
      <h2>
        the server is offline.
      </h2>
    <% } else if (locals.errors) { %>
        <p><%- errors %></p>
    <% } %>
    </div>
</body>
</html>
